
/* GLOBAL */
html {
  scroll-snap-type: y mandatory;
  font-family: monospace;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  scroll-behavior: smooth;
}

body {
  margin:0;
}

/* NAV */
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0px;
 }

.navbar a::after, 
.navbar a::before, 
.navbar a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 5vh;
}

.navbar a:hover {
  color: white;
}

.nav-logo {
  font-weight: lighter;
}

.nav-comms {
	float: right;
}

.palette::after,
.palette {
  position: fixed;
  bottom: 4%;
  left: 2vw;
  font-size: 5vh;
  color: black;
}

.palette:hover {
  color: white;
}

/* BODY */
.section {
  /* padding: 5vh; */
  height: 100vh;
  display: flex;
  justify-content: center;
  min-width: 200px;
  scroll-snap-align: start;
}

.page {
  /* padding: 5vh; */
  display: flex;
  justify-content: center;
  /* min-width: 200px; */
  min-height: 100vh;
}

.desktop {
  display: flex;
  justify-content: center;
}

.mobile {
  display: none;
}

.container {
  margin: 30vh 10vw 5vh 10vw;
  padding: 20px;
}

.card-btns a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.card-btns a button {
  background: black;
}

.card-btns i {
  padding-right: 5px;
}

.card-btn-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.card-btns {
  padding-bottom: 10px;
  padding-right: 10px;
}

.landing {
  background: #f9a66c;
}
.me {
  background: #4a6163;
}
.work {
  background: #f17a7e;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: 6vh;
}

h2 {
  font-size: 5vh;
}

h3 {
  font-size: 4vh;
}

p {
  font-size: 2vh;
}

.container p {
  font-size: larger;
  text-align: center;
}

.container p a {
  text-decoration: underline;
}

/* FOOTER */
.footer-wrapper {
  height: auto;
  background: whitesmoke;
  padding: 5px;
  text-align: center;
  /* scroll-snap-align: end; */
}

bitcoin-link::after,
.bitcoin-link::before,
.bitcoin-link {
  color: inherit;
}

/* MINOR */
.fa-heart {
  position: relative;
  color: red;
  cursor:grab;
}

.fa-heart:hover {
  color: darkred;
  font-size: larger;
}

.fa-palette:hover {
  cursor: pointer;
  color: white;
}

button {
  background-color: #f8f9fa;
  border-radius: 4px;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  min-width: 54px;
  padding: 8px;
  text-align: center;
  box-shadow: rgba(10, 10, 10, .5) 0 3px 3px;
  color: black;
}

button:hover {
  box-shadow: rgba(10, 10, 10, .5) 0 3px 3px;
  color: white;
  background-color: black;
}

.card-btns a button:hover {
  box-shadow: rgba(10, 10, 10, .5) 0 3px 3px;
  color: black;
  background-color: white;
}

.card-btns a button {
  box-shadow: rgba(10, 10, 10, .5) 0 3px 3px;
  color: white;
}

button:focus {
  /* border-color: #4285f4; */
  outline: none;
}

code {
  background: rgb(28, 28, 28);
  border: 1px silver;
  color: white;
  padding: 5px;
  overflow: auto;
}

.fa-egg:hover {
  color: chartreuse;

}

.wget {
  color: orange;
  padding-right: 5px;
}

#wget-snippet:hover, #wget-snippet:hover * {
  cursor: pointer;
  background: darkgrey;
  color: black;
}

/* SNACK BAR */
#snackbar {
  visibility: hidden; 
  min-width: 250px;
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%;
  bottom: 30px;
}

/* BITCOIN MODAL */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-body {
  display: block;
  text-align: center;
}

a:hover {
  cursor: pointer;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  align-self: flex-end;
  margin-top: -10px;
}

.close:hover {
  cursor: pointer;
  font-weight: bold;
  color: black;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
} 

.too-small {
  display: none;
}

/* RESPONSIVE */
@media only screen and (max-height: 200px) {
  .too-small {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: black;
    color: white;
    position: fixed;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 260px) {
  .too-small {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: black;
    color: white;
    position: fixed;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;

  }

  h1 {
    font-size: 20px;
  }
/* 
  body {
    visibility: hidden;
  } */
}
@media only screen and (max-width: 850px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    padding: 4px
  }

  .nav-logo a {
    font-size: 6vh;
  }

  .nav-pages a {
    font-size: 4vh;
  }

  .container {
    margin: 30vh 10vw;
    padding-top: 20px;
  }

  .section {
    padding: 0;
  }

  .desktop {
    display: none;
  }
  
  .mobile {
    display: block;
  }
}

/* ANNIMATIONS */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@-webkit-keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

.container h1, h2, h4 {
  text-align: center;
  font-weight: bolder;
}

.landing-text {
  font-size: 5vh;
}
