* {
	/* transition-timing-function: 5s ease-in; */
	/* margin: 0; */
	/* padding: 0; */
	/* box-sizing: border-box; */
	font-family: monospace;
	scroll-behavior: smooth;
	/* font-size: xx-large; */
	/* animation-name: appear; */
	/* animation-duration: 3s; */
}

#logo {
	font-weight:lighter
}


body {
	margin:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
	/* font-size: 1px; */
	float: left;
}

li a {
	color: black;
	font-size: 25px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight:bolder;
  
}

li a:visited {
	color: black;
}

li a:hover {
	color: white
}

.right-nav li a {
  font-size: 30px;
}


.right-nav {
	float: right;
	margin-right: 10px;
}

a button:hover {
	cursor: pointer;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	scroll-snap-align: start;
}

.fa-heart:active {
	font-size: smaller;
}

.fa-heart:hover {
	color: red;
	cursor: pointer;
}

p a {
	color: blue;
}


.box {
	/* scroll-snap-align: start; */
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 80%;
	/* padding: 10%; */
	/* margin: 10%; */
	/* background-color: pink; */
	max-width: 600px;

}

/* a i {
	color: black;
}

a i:visited {
	color: black;
} */

.box h1 {
	font-size: 30px;

}

.box p {
	font-size: 20px;
}

.s1 {
	background-color: #f9a66c;
}

.s2 {
	background-color: #4a6163;
}

.s3 {
    background-color: #ffc94b;
}

.s-cv {
	background-color: #f17a7e;

}

.s4 {
	background-color: rgb(234, 122, 226);
}

.footer-section {
	/* background: none; */
	bottom: 0;
	/* position: fixed; */
	/* overflow: hidden; */
	height: auto;
}

.footer-section * {
	
	margin: 5px;
}
/* 
.footer {
	margin-left: 10px;

} */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
  }

/* .load {
	animation-name: load;
	animation-duration: 5s;
	padding: 2px;
}

@keyframes load {
	0%   {background-color: none;}
	25%   {background-color: red;}
	50%  {background-color: yellow;}
	75%  {background-color: blue;}
	100% {background-color: green;}
} */

code {
	background: black;
	color: white;
	padding: 5px;
	box-shadow: 5px 5px #888888;
	cursor: pointer;
}



.fa-copy {
	font-size: 18px;
	padding: 3px;
	padding-top: 4px;
}

code:hover {
	color: black;
	background: pink;
}

.fa-copy:active {
	font-size: 16px;
	cursor: pointer;
	color: white;
}


.blink {
	padding:70px;
	animation: blinker 3s linear ;
	font-size: 40px;
	color: black;
	opacity: 0;
  }
  
  @keyframes blinker {
	0% {opacity: 1}
	20% {opacity: 0}
	40% {opacity: 1}
	60% {opacity: 0}
	80% {opacity: 1}
	100% {opacity: 0}
  }

  @keyframes appear {
	0% {
	  overflow: hidden;
	}
	100% {
		overflow: visible;
	}
  }



::-webkit-scrollbar {
	width: 10px;
	/* background: darkgrey; */
}

::-webkit-scrollbar:hover {
	width: 10px;
}

/* ::-webkit-scrollbar-track {
	  background: darkgrey;
} */

::-webkit-scrollbar-track:hover {
	color: red;
} 

::-webkit-scrollbar-thumb {
	background: black; 
}

::-webkit-scrollbar-thumb:hover {
	background: darkgrey; 
  }

@media only screen and (max-width: 650px) {
	.box {
		max-width: 400px;
		/* display: flex; */
		/* margin-top: 200px; */
		/* min-width: 200px; */
	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content:space-around;
		margin-top: 20px;
	}

	li a {
		padding: 5px;
	}

	.left-nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.right-nav {
		display: flex;
		flex-direction: row;
		justify-content:center;
	}

	section {
		top: 500px
	}
	
	.left-nav li a {
		padding: 0;
	}

	.box {
		/* scroll-snap-align: start; */
		display: flex;
		flex-direction: column;
		align-items: center;
		/* width: 80%; */
		/* height: 70%; */
		/* padding: 10%; */
		/* margin: 10%; */
		/* background-color: red; */
		/* font-size:10%; */
		max-width: 600px;
	
	}
}